In [3]:
import pandas as pd
import numpy as np

In [ ]:
ruta1 = './DB_exportadas/archivo1.csv'
archivo1 = pd.read_csv(ruta1,index_col=0)
ruta3 = './DB_exportadas/archivo3.csv' 
archivo3 = pd.read_csv(ruta3,index_col=0)
vehiculos1_3= pd.concat([archivo1,archivo3], ignore_index=True)
# El (ignore_index=True) enumera los indeces nuevamente para que no existan duplicaciones.
vehiculos1_3

In [13]:
ruta1 = './DB_exportadas/archivo2.csv'
archivo1 = pd.read_csv(ruta1,index_col=0)
ruta3 = './DB_exportadas/archivo4.csv' 
archivo3 = pd.read_csv(ruta3,index_col=0)
vehiculos2_4= pd.concat([archivo1,archivo3], ignore_index=True)
# El (ignore_index=True) enumera los indeces nuevamente para que no existan duplicaciones.
vehiculos2_4

,Año,Kilómetraje,Precio,Lugar,Negociacion,Categoría,Marca,Subtipo,Modelo,Publicación,...,Color,Último número de la placa,Motor(cilindraje),Placa,Tapizado,Dirección,Entrada desde,Cuotas desde,Número de cuotas,Tipo de Motor
0,2015,158,19.500,Quito,Negociable,USED,Chevrolet,Mini van (MPV),N300 MAX CARGO 1.2L TM AC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,163000,12.900,Quito,Negociable,USED,Kia,Todoterreno,Sorento,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,106417,17.900,Quito,Negociable,USED,Great Wall,Camioneta Doble Cabina,WINGLE 5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,200000,59.900,Quito,Negociable,USED,Ford,Todoterreno,Ranger,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,233978,30.900,Cuenca,Fijo,USED,Chevrolet,Camioneta Cabina Simple,LUV DMax CS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6761,2019,2334,12.324,Quito,Negociable,USED,BMW,Hatchback (5 Puertas),118 D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6762,2017,140000,26.150,Quito,Fijo,USED,Volkswagen,Camioneta Doble Cabina,Amarok TSI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6763,2008,294600,25.000,Quito,Negociable,USED,Toyota,Van,Hiace,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6764,1998,250000,16.500,Quito,Negociable,USED,Land Rover,Todoterreno,Discovery,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6765,1995,163000,10.300,Quito,Negociable,USED,Hyundai,Sedán,GRAN I10,#1676075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
archivo1_3 = vehiculos1_3.to_csv('archivo1_3.csv')
archivo2_4 = vehiculos2_4.to_csv('archivo2_4.csv')

NameError: name 'vehiculos1_3' is not defined

In [47]:
ruta1 = 'archivo2_4.csv'
archivo1 = pd.read_csv(ruta1,index_col=0)
ruta2 = 'archivo1_3.csv' 
archivo2 = pd.read_csv(ruta2,index_col=0)
BDvehiculos= pd.concat([archivo1,archivo2], ignore_index=True)
# El (ignore_index=True) enumera los indeces nuevamente para que no existan duplicaciones.
BDvehiculos

,Año,Kilómetraje,Precio,Lugar,Negociacion,Categoría,Marca,Subtipo,Modelo,Publicación,...,Entrada desde,Cuotas desde,Número de cuotas,Tipo de Motor,Sistemadeclimatización,Últimonúmerodelaplaca,TipodeMotor,Entradadesde,Cuotasdesde,Númerodecuotas
0,2015.0,158,19.5,Quito,Negociable,USED,Chevrolet,Mini van (MPV),N300 MAX CARGO 1.2L TM AC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011.0,163000,12.9,Quito,Negociable,USED,Kia,Todoterreno,Sorento,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,106417,17.9,Quito,Negociable,USED,Great Wall,Camioneta Doble Cabina,WINGLE 5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012.0,200000,59.9,Quito,Negociable,USED,Ford,Todoterreno,Ranger,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011.0,233978,30.9,Cuenca,Fijo,USED,Chevrolet,Camioneta Cabina Simple,LUV DMax CS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527,NaN,303204,5.5,Quito,Negociable,USED,Chevrolet,Sedán,Corsa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13528,NaN,43488,18.5,Quito,Negociable,USED,Great Wall,Camioneta Cabina Simple,Wingle 5 AC CS 4X4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13529,NaN,243450,5.3,Quito,Negociable,USED,Renault,Hatchback (3 Puertas),Twingo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13530,NaN,6798,15.2,Quito,Negociable,USED,Chevrolet,Hatchback (5 Puertas),Spark GT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13531,NaN,154576,10.5,Quito,Negociable,USED,Mahindra,Camioneta Doble Cabina,Pick UP CD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:

print(f"La fecha más actual es: {BDvehiculos['Año'].min()}")
print()
print(f"La fecha más antigua es: {BDvehiculos['Año'].max()}")

La fecha más actual es: 1949.0

La fecha más antigua es: 2024.0

In [12]:
new = BDvehiculos[((BDvehiculos['Año'] >= 2020) & (BDvehiculos['Año'] <= 2024))]
print(f"Los autos con fechas actuales son: {new.shape[0]}")

Los autos con fechas actuales son: 1321

In [14]:
new = BDvehiculos[((BDvehiculos['Año'] >= 1990) & (BDvehiculos['Año'] <= 1998))]
print(f"Los autos con fechas antiguas son: {new.shape[0]}")

Los autos con fechas antiguas son: 210

In [35]:
#b.	El promedio de kilometraje de los autos de Quito o Guayaquil.
kilometraje = BDvehiculos[(BDvehiculos['Lugar'] == 'Quito')]
print(f"El Kilometraje de los autos de Quito es: {round(kilometraje['Kilómetraje'].mean(),2)}")

El Kilometraje de los autos de Quito es: 114021.14

In [36]:
#c.	El promedio de kilometraje de los autos de Cuenca.
kilometraje = BDvehiculos[(BDvehiculos['Lugar'] == 'Cuenca')]
kilometraje['Kilómetraje'].mean()
print(f"El Kilometraje de los autos de Cuenca es: {round(kilometraje['Kilómetraje'].mean(),2)}")

El Kilometraje de los autos de Cuenca es: 100164.1

In [41]:
#e.	Porcentaje de autos nuevos y usados.
total = len(BDvehiculos)
new = BDvehiculos[(BDvehiculos['Categoría'] == 'NEW')]
porcentaje = (len(new) / total) * 100
print(f"El porcentaje de autos new is: {porcentaje:.2f}%")
used= BDvehiculos[(BDvehiculos['Categoría'] == 'USED')]
porcentaje = (len(used) / total) * 100
print(f"El porcentaje de autos used is: {porcentaje:.2f}%")

El porcentaje de autos new is: 1.78%
El porcentaje de autos used is: 98.22%

In [42]:
#f.	Las marcas que más se repiten.
marcas= BDvehiculos['Marca'].value_counts()
print("Las marcas más repetidas son:")
marcas.head(10)

Las marcas más repetidas son:

Marca
Chevrolet        2708
Ford             1366
Kia              1147
Toyota           1131
Hyundai           809
Nissan            721
Volkswagen        534
Mazda             515
Mercedes Benz     433
Great Wall        432
Name: count, dtype: int64

In [43]:
#g.	Modelos que más se repiten.
modelos= BDvehiculos['Modelo'].value_counts()
print("Las marcas más repetidas son:")
modelos.head(10)

Las marcas más repetidas son:

Modelo
Grand Vitara SZ        210
Aveo Family            201
Explorer XLT           182
Spark GT               163
Fortuner 2.7           144
Sail                   144
Captiva                109
Grand Vitara 5p 4x2    103
TUCSON TL              102
Sportage R              99
Name: count, dtype: int64

In [46]:
BDvehiculos['Subtipo'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13532 entries, 0 to 13531
Series name: Subtipo
Non-Null Count  Dtype
--------------  -----
13532 non-null  object
dtypes: object(1)
memory usage: 105.8+ KB

In [44]:
# h.	Porcentaje de subtipos.
total = len(BDvehiculos)
subtipos = (BDvehiculos['Subtipo'])
porcentaje = (len(subtipos) / total) * 100
print(f"El porcentaje de subtipos es: {porcentaje:.2f}%")

El porcentaje de subtipos es: 100.00%

In [49]:
# i.	Auto más caro y más barato, con sus características.
auto_caro = BDvehiculos['Precio'].max()
print(f"The car more expensive is: {auto_caro} ")
auto_barato = BDvehiculos['Precio'].min()
print(f"The car more cheap is : {auto_barato}")

The car more expensive is: 579.0
The car more cheap is : 0.0

In [ ]:
# j.	Auto de Guayaquil que menos kilometraje tiene y más caro es.
carro_guayaquil = BDvehiculos[(BDvehiculos['Lugar'] == 'Guayaquil')]
carro = carro_guayaquil[
    (carro_guayaquil['Kilómetraje'] == carro_guayaquil['Kilómetraje'].min()) &
    (carro_guayaquil['Precio'] == carro_guayaquil['Precio'].max())]
print(f'Los autos de guayaquil que menos kilometraje tinen y más caros son: {carro}')

El auto guayaquil que menos kilometraje y mas caro es:           Año  Kilómetraje  Precio      Lugar Negociacion Categoría  \
5198   2022.0            0   280.0  Guayaquil  Negociable       NEW
5684   2023.0            0   280.0  Guayaquil  Negociable       NEW
9709      NaN            0   280.0  Guayaquil  Negociable       NEW
10195     NaN            0   280.0  Guayaquil  Negociable       NEW

            Marca      Subtipo             Modelo Publicación  ...  \
5198      Lincoln  Todoterreno          Navigator         NaN  ...
5684   Land Rover  Todoterreno  Range Rover Vogue         NaN  ...
9709      Lincoln  Todoterreno          Navigator         NaN  ...
10195  Land Rover  Todoterreno  Range Rover Vogue         NaN  ...

      Entrada desde Cuotas desde Número de cuotas Tipo de Motor  \
5198            NaN          NaN              NaN           NaN
5684            NaN          NaN              NaN           NaN
9709            NaN          NaN              NaN           NaN
10195           NaN          NaN              NaN           NaN

      Sistemadeclimatización Últimonúmerodelaplaca TipodeMotor  Entradadesde  \
5198                     NaN                   NaN         NaN           NaN
5684                     NaN                   NaN         NaN           NaN
9709                     NaN                   NaN         NaN           NaN
10195                    NaN                   NaN         NaN           NaN

       Cuotasdesde Númerodecuotas
5198           NaN            NaN
5684           NaN            NaN
9709           NaN            NaN
10195          NaN            NaN

[4 rows x 32 columns]